Repository ahmed91abbas/ci-test, changes with the labels that .github/labeler.yml gives for each.
All labels: wip, ci, maintenance, documentation, sum, two

.github/labeler.yml:

###############################################################################
#
# Generic
#
###############################################################################
wip:
  - ./*
  - '**'

ci:
  - ci/**
  - .github/workflows/*

maintenance:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

documentation:
  - README.md
  - ./**/README*
  - rfc/**

###############################################################################
#
# Project Specific
#
###############################################################################
sum:
  - box-sum/**/*

two:
  - box-two/**/*

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
  test.sh
Labels: wip, ci, maintenance

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

SUCCESS This commit is working
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

run job for changed folders only
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  box-sum/src/main.py
Labels: wip, sum

test
  box-sum/src/main.py
Labels: wip, sum

test
  box-sum/src/main.py
Labels: wip, sum

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  box-sum/src/main.py
Labels: wip, sum

feat: add workflow dispatch
  .github/workflows/dispatch-test.yml
Labels: wip, ci

update workflow
  .github/workflows/dispatch-test.yml
Labels: wip, ci

feat: echo first test
  .github/workflows/dispatch-test.yml
Labels: wip, ci

feat: echo second test
  .github/workflows/dispatch-test.yml
Labels: wip, ci
