Repository ahmed91abbas/ci-test, changes with the labels that .github/labeler.yml gives for each.
All labels: wip, ci, maintenance, documentation, sum, two

.github/labeler.yml:

###############################################################################
#
# Generic
#
###############################################################################
wip:
  - ./*
  - '**'

ci:
  - ci/**
  - .github/workflows/*

maintenance:
  - ./*
  - .github/*
  - .github/ISSUE_TEMPLATE/*

documentation:
  - README.md
  - ./**/README*
  - rfc/**

###############################################################################
#
# Project Specific
#
###############################################################################
sum:
  - box-sum/**/*

two:
  - box-two/**/*

a
  .github/workflows/labeler.yml
Labels: wip, ci

add labeler
  .github/workflows/labeler.yml
Labels: wip, ci

test
  box-sum/src/main.py
Labels: wip, sum

test
  box-sum/src/main.py
Labels: wip, sum

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  box-sum/src/main.py
Labels: wip, sum

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  box-two/.dockerignore
Labels: wip, two

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci

test
  .github/workflows/pull-request-created.yml
Labels: wip, ci
